<header class="header">
   
  <logo class="logo"><a href="/" class="header__link">Lib | Библиотека</a></logo>
  <ul class="header__list">
    <li class="header__item"><a href="/" class="header__link">Главная</a></li>
    <li class="header__item"><a href="/create" class="header__link">Добавить книгу</a></li>
  </ul>
  
  
  
  
</header>
